<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="device_frame">
  <div class="container device">
    <h2>新しいアカウントを作成</h2>

    <div class="field form-row">
      <%= f.label :user_name ,"ユーザー名"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>


    <div class="field form-row">
      <%= f.label :email ,"メールアドレス"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-row">
      <%= f.label :password ,"パスワード"%>
      <br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field form-row">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "新しいアカウントを作成" %>
    </div>
    <p class="sign_up_link"><%= render "devise/shared/links"%></p>
  </div>
</div>
<% end %>




