<!DOCTYPE html>
<html>
  <head>
    <title>Myapp203</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header-sharch collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="エリア" aria-label="Search">
                <i class="bi bi-geo-alt-fill"></i>
              </form>
            </li>
            <li class="nav-item">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="キーワード" aria-label="Search">
                <i class="bi bi-search"></i>
              </form>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <button type="button" class="btn btn-primary btn-lg">ログイン</button>
            <button type="button" class="btn btn-secondary btn-lg">登録する</button>
          </form>
        </div>
      </div>
    </nav>
  </body>
  <%= yield %>
  <footer class="footer fixed-bottom">
    <p>© 2020 POTEPAN.INC.</p>
  </footer>
</html>
